.header-footer-area {
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
}
.get-started {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 50px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
}
.get-started:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", cursive;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-image: linear-gradient(to right, #603bbc, #9dffe4);
}
header .welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15%;
}
@media (max-width: 500px) {
  header .welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}
header .welcome h2 {
  color: white;
  font-size: 5rem;
}
header .welcome h2 span {
  color: #9dffe4;
}
header .welcome a {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 50px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
  margin-bottom: 10%;
}
header .welcome a:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
header .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
  height: 200px;
}
@media (max-width: 1200px) {
  header .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
header .navbar h1 {
  color: #9dffe4;
  margin-left: 5%;
  transition: 0.5s;
}
header .navbar h1:hover {
  color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  header .navbar h1 {
    margin-top: -15px;
    margin-bottom: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
header .navbar nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  header .navbar nav {
    width: 100%;
  }
}
header .navbar nav a {
  width: 100%;
  font-size: 2.5rem;
  text-decoration: none;
  color: #603bbc;
  text-align: center;
  transition: 1s;
}
header .navbar nav a:hover {
  color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 500px) {
  header .navbar nav a {
    font-size: 2rem;
  }
}
.footer-area {
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
  text-align: center;
  border-top: 1px solid #9dffe4;
  background-color: #9dffe4;
}
.tabs {
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
@media (max-width: 1200px) {
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.tabs a {
  box-shadow: 5px 5px #757171;
  width: 15%;
  text-decoration: none;
  text-align: center;
  font-size: 2.3rem;
  background-color: #9dffe4;
  padding: 4% 0;
  border: 3px solid #603bbc;
  border-radius: 50px;
  color: #603bbc;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .tabs a {
    width: 40%;
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .tabs a {
    width: 80%;
    margin-top: 2%;
  }
}
.tabs a:nth-child(2n) {
  background-color: #603bbc;
  color: #9dffe4;
  border: 3px solid #9dffe4;
}
.tabs a:hover {
  box-shadow: 0px 0px;
  transition: 0.5s;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.main-content section {
  background-color: white;
  width: 100%;
  padding: 5%;
  background-color: #9dffe4;
}
.main-content section:nth-child(2n) {
  text-align: right;
  background-color: #603bbc;
  color: white;
}
.main-content section:nth-child(2n) h2 {
  color: #9dffe4;
}
@media (max-width: 500px) {
  .main-content section:nth-child(2n) {
    text-align: center;
  }
}
.main-content section h2 {
  color: #603bbc;
}
@media (max-width: 500px) {
  .main-content section {
    text-align: center;
  }
}
.main-content section .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.main-content section .info img {
  width: 30%;
}
@media (max-width: 500px) {
  .main-content section .info img {
    display: none;
  }
}
.main-content section .info p {
  margin-right: 2%;
}
.main-content section .info p:nth-child(2n) {
  text-align: right;
  margin-right: 0;
}
@media (max-width: 500px) {
  .main-content section .info p:nth-child(2n) {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main-content section .info p {
    text-align: center;
  }
}
.main-content section a {
  text-decoration: none;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 50px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
  width: 30%;
  margin: 0 auto;
  display: none;
  text-align: center;
}
.main-content section a:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .main-content section a {
    display: block;
  }
}
@media (max-width: 500px) {
  .main-content section a {
    width: 50%;
  }
}
