.header-footer-area {
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
}
.get-started {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 5px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
}
.get-started:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container-home {
  width: 100%;
  margin: 0 auto;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", cursive;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-image: linear-gradient(to right, #603bbc, #9dffe4);
}
header .welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15%;
  margin-top: 6%;
}
@media (max-width: 1200px) {
  header .welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    text-align: center;
  }
}
header .welcome h2 {
  color: white;
  font-size: 5rem;
}
header .welcome h2 span {
  color: #9dffe4;
}
header .welcome a {
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 5px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
  margin-bottom: 10%;
}
header .welcome a:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
header .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
}
@media (max-width: 1200px) {
  header .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
header .navbar h1 {
  color: #9dffe4;
  margin-left: 5%;
  transition: 0.5s;
}
header .navbar h1:hover {
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1200px) {
  header .navbar h1 {
    margin-top: -15px;
    margin-bottom: 15px;
  }
}
header .navbar nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  header .navbar nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .navbar nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
header .navbar nav a {
  width: 100%;
  font-size: 2.5rem;
  text-decoration: none;
  color: #603bbc;
  text-align: center;
  transition: 1s;
}
@media (max-width: 1200px) {
  header .navbar nav a {
    color: black;
  }
}
header .navbar nav a:hover {
  color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 500px) {
  header .navbar nav a {
    font-size: 3rem;
    margin: 5% 0;
    color: #603bbc;
  }
}
.footer-area {
  width: 100%;
  padding: 30px 0;
  color: #603bbc;
  text-align: center;
  border-top: 1px solid #9dffe4;
  background-color: #9dffe4;
}
.tabs-section h2 {
  color: #603bbc;
  text-align: center;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .tabs-section h2 {
    display: none;
  }
}
.tabs-section .tabs {
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
@media (max-width: 1500px) {
  .tabs-section .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.tabs-section .tabs a {
  box-shadow: 5px 5px #c9ccda;
  width: 15%;
  text-decoration: none;
  text-align: center;
  font-size: 2.3rem;
  background-color: #9dffe4;
  padding: 4% 0;
  border-radius: 5px;
  color: #603bbc;
  transition: 0.5s;
}
@media (max-width: 1500px) {
  .tabs-section .tabs a {
    width: 30%;
    margin-top: 2%;
  }
}
@media (max-width: 1200px) {
  .tabs-section .tabs a {
    width: 40%;
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .tabs-section .tabs a {
    width: 80%;
    margin-top: 2%;
  }
}
.tabs-section .tabs a:nth-child(2n) {
  background-color: #603bbc;
  color: #9dffe4;
}
.tabs-section .tabs a:hover {
  box-shadow: 0px 0px;
  transition: 0.5s;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.main-content section {
  background-color: white;
  width: 100%;
  padding: 5%;
  background-color: #9dffe4;
}
.main-content section:nth-child(2n) {
  text-align: right;
  background-color: #603bbc;
  color: white;
}
.main-content section:nth-child(2n) h2 {
  color: #9dffe4;
}
@media (max-width: 500px) {
  .main-content section:nth-child(2n) {
    text-align: center;
  }
}
.main-content section h2 {
  color: #603bbc;
}
@media (max-width: 500px) {
  .main-content section {
    text-align: center;
  }
}
.main-content section .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main-content section .info img {
  width: 30%;
}
@media (max-width: 500px) {
  .main-content section .info img {
    display: none;
  }
}
.main-content section .info p {
  margin-right: 2%;
  width: 50%;
}
.main-content section .info p:nth-child(2n) {
  text-align: right;
  margin-right: 0;
}
@media (max-width: 500px) {
  .main-content section .info p:nth-child(2n) {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main-content section .info p {
    text-align: center;
    width: 100%;
  }
}
.main-content section a {
  text-decoration: none;
  font-size: 3rem;
  background-color: #9dffe4;
  padding: 10px 20px;
  border: 1px solid #603bbc;
  border-radius: 5px;
  margin: 15px 0;
  color: #603bbc;
  transition: 0.5s;
  width: 30%;
  margin: 0 auto;
  display: none;
  text-align: center;
}
.main-content section a:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .main-content section a {
    display: block;
  }
}
@media (max-width: 500px) {
  .main-content section a {
    width: 50%;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.middle-content .about {
  display: flex;
}
@media (max-width: 500px) {
  .middle-content .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.middle-content .about .description {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-content .about h3 {
  font-size: 2.5rem;
}
.middle-content .about p {
  font-size: 1.5rem;
}
.headline {
  display: flex;
  justify-content: center;
  background: white;
}
.who-we-are {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(to right, #603bbc, #9dffe4);
}
@media (max-width: 500px) {
  .who-we-are {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.who-we-are .top-two {
  width: 35%;
  margin-right: 5rem;
  margin-left: 5rem;
}
@media (max-width: 500px) {
  .who-we-are .top-two {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .who-we-are .top-two .team-member .img-wrapper {
    margin: 0 auto;
  }
}
.who-we-are .bottom-two {
  margin-right: 5rem;
  margin-left: 5rem;
}
@media (max-width: 500px) {
  .who-we-are .bottom-two {
    margin: 0 auto;
  }
}
.who-we-are .team-member {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.who-we-are img {
  max-height: 400px;
  min-height: 400px;
  width: auto;
  height: 0 auto;
  perspective: 1000px;
}
.who-we-are p {
  font-size: 2rem;
  min-height: 20rem;
  background-color: #9dffe4;
  color: #603bbc;
  display: flex;
  align-content: center;
  justify-content: center;
}
img {
  margin: 0;
  padding: 0;
}
.image-area {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.img-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
}
.img-wrapper:hover:before {
  left: -180%;
}
.img-wrapper img {
  height: 400px;
  width: 300px;
  filter: grayscale(100%);
  transition: 2s;
}
.img-wrapper:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.img-wrapper h2 {
  background: #603bbc;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: right;
  transition: 1s;
}
.img-wrapper:hover h2 {
  transform: perspective(400px) rotateY(0deg);
}
.img-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}
.img-wrapper ul li {
  background: #333;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: left;
}
.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}
.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}
.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}
.img-wrapper:hover ul li:nth-child(3) {
  transition-delay: 0.8s;
}
.img-wrapper:hover ul li:nth-child(4) {
  transition-delay: 1s;
}
.img-wrapper ul li a {
  color: #603bbc;
  background: rgba(255, 255, 255, 0);
}
.img-wrapper ul li i {
  color: #603bbc;
  background: rgba(255, 255, 255, 0);
}
.img-wrapper ul li i:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}
