.main-content {
  .flex(column, space-around, nowrap, center);

  section {
    margin: 1% 0%;
    background-color: white;
    width: 60%;
    padding: 2%;
    border-radius: 10px;

    &:nth-child(2n) {
      text-align: right;

      @media @mobile {
        text-align: center;
      }
    }

    h2 {
      color: @main-color;
    }

    @media @mobile {
      text-align: center;
      width: 90%;
      border: 1px solid @main-color;
    }

    .info {
      .flex(row, space-around, nowrap, center);

      img {
        width: 20%;

        @media @mobile {
          display: none;
        }
      }

      p {
        margin-right: 2%;

        &:nth-child(2n) {
          text-align: right;

          @media @mobile {
            text-align: center;
          }
        }

        @media @mobile {
          text-align: center;
        }
      }
    }
  }
}
