.navbar{

    .flex(row, space-between, nowrap, center);
    .header-footer-area;
    border-bottom: 1px solid @secondary-color;

    h1{
        color: @secondary-color;
        margin-left: 5%;
    }

    nav {
        width: 50%;
        .flex(row, space-between, nowrap, center);

        a {
            width: 100%;
            font-size: 2.5rem;
            text-decoration: none;
            color: @secondary-color;
            text-align: center;

        }
    }
}