// escape variables
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 1200px)";
@laptop: ~"(max-width: 1500px)";

// color variables
//#143D59
//#F4B41A

//#F9858B
//#761137

//#603bbc
//#9dffe4
@main-color: #603bbc;
@secondary-color: #9dffe4;
